$primary-color: #1a2b53;
$secondary-color: #007bff;
$bg-light: #e3f1f8;
$text-color: #fff;
$text-color-dark: #333;

// Base styling
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $bg-light;
  text-align: center;
}

.header {
  background-color: $primary-color;
  padding: 20px;
  .welcome-text {
    font-size: 2rem;
    margin: 0;
    color: $text-color;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Two equal columns
  gap: 20px;
  padding: 40px;
  height: 85vh;
  margin: 0 auto; // Center the content

  // Section styling
  .local-section,
  .tourist-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    border-radius: 10px;
    color: $text-color;

    // Specific background colors
    &.local-section {
      background-color: $primary-color;
    }

    &.tourist-section {
      background-color: $secondary-color;
    }

    .section-title {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
